<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link href='https://fonts.googleapis.com/css?family=Rambla|Coming+Soon|Arvo:700' rel='stylesheet' type='text/css'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Add your name" %></title>

    <%= stylesheet_link_tag :site %>
    
    
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="/javascripts/vendor/groundwork.js"></script>
    <%= javascript_include_tag :all, :async => true %>
    <script src="/javascripts/querystring.min.js"></script>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
